<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>@ViewBag.Title</title>
    <!--

    Template 2087 Kalay

    http://www.tooplate.com/view/2087-kalay

    -->
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/css/animate.css">
    <link rel="stylesheet" href="/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="/Content/css/font-awesome.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/Content/css/tooplate-style.css">

</head>

<body>


    @RenderBody()



    <!-- SCRIPTS -->
    <script src="/Content/js/jquery.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
    <script src="/Content/js/jquery.parallax.js"></script>
    <script src="/Content/js/smoothscroll.js"></script>
    <script src="/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="/Content/js/magnific-popup-options.js"></script>
    <script src="/Content/js/wow.min.js"></script>
    <script src="/Content/js/custom.js"></script>

</body>
</html>