<!-- PRE LOADER -->
<div class="preloader">
    <div class="spinner">
        <span class="spinner-rotate"></span>
    </div>
</div>

<!-- HOME SECTION -->
<section id="home" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-5 col-md-7 col-sm-12">
                <div class="home-thumb">
                    <h1 class="wow fadeInUp" data-wow-delay="0.4s">Hello, I am Kalay.</h1>
                    <p class="wow fadeInUp white-color" data-wow-delay="0.6s">Praesent eleifend tristique nisl, nec finibus urna posuere nec. Quisque vel nunc eget arcu maximus facilisis non eu nisi. Aliquam ullamcorper est a nisl imperdiet luctus.</p>
                    <a href="@Url.Action("Hakkimda","Anasayfa")" class="wow fadeInUp smoothScroll btn btn-default section-btn" data-wow-delay="1s">Ben Kimim?</a>
                </div>
            </div>

        </div>
    </div>
</section>