<div class="header">
    <div class="navbar">
        <ul>
            <li><a href="/">AnaSayfa</a></li>
            <li><a href="/Home/Hakkımızda">Hakkımızda</a></li>
            <li><a href="/Home/İletisim">İletişim</a></li>
        </ul>
    </div>
</div>
