
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
   @Html.Partial("_Header")
    <div class="container">
        <h1>Burası değişecek kısım</h1>
        @RenderBody()
    </div>
   @Html.Partial("_Footer")
</body>
</html>
