
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ABOUT SECTION -->
<section id="about" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-8">
                <div class="about-image-thumb">
                    <img src="/Content/images/profile-image.jpg" class="wow fadeInUp img-responsive" data-wow-delay="0.2s" alt="about image">
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                        <li><a href="#" class="fa fa-behance"></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-8 col-sm-12">
                <div class="about-thumb">
                    <!-- SECTION TITLE -->
                    <div class="wow fadeInUp section-title" data-wow-delay="0.6s">
                        <h2>a little more about Kalay</h2>
                        <p>Graphic Designer, Creative Photographer & Front-end Developer</p>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                        <p>Praesent eleifend tristique nisl, nec finibus urna posuere nec. Quisque vel nunc eget arcu maximus facilisis non eu nisi. Aliquam ullamcorper est a nisl imperdiet luctus.</p>
                        <p>Sed sed convallis odio. Nulla scelerisque libero efficitur diam fermentum, quis tincidunt urna placerat. Maecenas sed tortor sed nisi semper ultricies. Nulla ornare metus in massa mollis scelerisque.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
