
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Instagram</title>
    <link rel="icon" href="/Content/images/logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/Content/style.css">
    <script src="https://kit.fontawesome.com/309a728b05.js"></script>
</head>
<body>
    <header>
        <div class="inner">
            <a href=""><img src="/Content/images/logo2.png" class="logo2" alt=""></a>
            <div class="arama">
                <input type="text" placeholder="Ara">
            </div>
            <div class="profil">
                <a class="kesfet" href="">
                    <i class="far fa-compass"></i>
                </a>
                <a class="like" href="">
                    <i class="far fa-heart"></i>
                </a>
                <a class="me" href="">
                    <i class="far fa-user"></i>
                </a>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="icerik">
            <div class="post">
                <div class="postus">
                    <div class="postimage">
                        <img src="/Content/images/profil.png" alt="">
                    </div>
                    <div class="postisim">
                        <p class="isim">yunusuzun</p><br>
                        <p class="konum">Gebze, Kocaeli, Türkiye</p>
                    </div>
                    <div class="postmenu">
                        <a href=""><img src="/Content/images/ymenu.png" alt=""></a>
                    </div>
                </div>
                <div class="postimage2">
                    <img src="/Content/images/post.png" alt="">
                </div>
                <div class="begen">
                    <div class="kalp">
                        <a href=""><i class="far fa-heart birinci"></i></a>
                        <a href=""><i class="far fa-comment birinci"></i></a>
                        <a href=""><i class="far fa-bookmark ucuncu"></i></a>
                    </div>
                    <div class="yazilar">
                        <a href="">
                            <p>99 beğenme</p>
                        </a>
                        <p><b><a href="">yunusuzun</a></b> Post mesajı</p>
                        <p class="gun">1 GÜN ÖNCE</p>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="postus">
                    <div class="postimage">
                        <img src="/Content/images/profil.png" alt="">
                    </div>
                    <div class="postisim">
                        <p class="isim">yunusuzun</p><br>
                        <p class="konum">Gebze, Kocaeli, Türkiye</p>
                    </div>
                    <div class="postmenu">
                        <a href=""><img src="/Content/images/ymenu.png" alt=""></a>
                    </div>
                </div>
                <div class="postimage2">
                    <img src="/Content/images/post.png" alt="">
                </div>
                <div class="begen">
                    <div class="kalp">
                        <a href=""><i class="far fa-heart birinci"></i></a>
                        <a href=""><i class="far fa-comment birinci"></i></a>
                        <a href=""><i class="far fa-bookmark ucuncu"></i></a>
                    </div>
                    <div class="yazilar">
                        <a href="">
                            <p>99 beğenme</p>
                        </a>
                        <p><b><a href="">yunusuzun</a></b> Post mesajı</p>
                        <p class="gun">1 GÜN ÖNCE</p>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="postus">
                    <div class="postimage">
                        <img src="/Content/images/profil.png" alt="">
                    </div>
                    <div class="postisim">
                        <p class="isim">yunusuzun</p><br>
                        <p class="konum">Gebze, Kocaeli, Türkiye</p>
                    </div>
                    <div class="postmenu">
                        <a href=""><img src="/Content/images/ymenu.png" alt=""></a>
                    </div>
                </div>
                <div class="postimage2">
                    <img src="images/post.png" alt="">
                </div>
                <div class="begen">
                    <div class="kalp">
                        <a href=""><i class="far fa-heart birinci"></i></a>
                        <a href=""><i class="far fa-comment birinci"></i></a>
                        <a href=""><i class="far fa-bookmark ucuncu"></i></a>
                    </div>
                    <div class="yazilar">
                        <a href="">
                            <p>99 beğenme</p>
                        </a>
                        <p><b><a href="">yunusuzun</a></b> Post mesajı</p>
                        <p class="gun">1 GÜN ÖNCE</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="icerik2">
            <div class="anaprof">
                <div class="prof">
                    <img src="/Content/images/profil.png" alt="">
                </div>
                <div class="postisim">
                    <p class="isim">@ViewBag.FullName</p><br>
                    <p class="konum">yunusuzun</p>
                </div>
            </div>
            <div class="hikaye">
                <div class="hikayebaslik">
                    <p>Hikayeler</p>
                    <a href="">
                        <p class="tum">Tümünü İzle</p>
                    </a>
                </div>
                <div class="hikayeicerik">
                    <div class="hikayeicerikbaligi1">
                        <div class="postimage5">
                            <img src="/Content/images/profil.png" alt="">
                        </div>
                        <div class="postisim5">
                            <p class="isim5">yunusuzun</p>
                            <p class="konum5">Gebze, Kocaeli, Türkiye</p>
                        </div>
                    </div>
                    <div class="hikayeicerikbaligi1">
                        <div class="postimage5">
                            <img src="/Content/images/profil.png" alt="">
                        </div>
                        <div class="postisim5">
                            <p class="isim5">yunusuzun</p>
                            <p class="konum5">Gebze, Kocaeli, Türkiye</p>
                        </div>
                    </div>
                    <div class="hikayeicerikbaligi1">
                        <div class="postimage5">
                            <img src="/Content/images/profil.png" alt="">
                        </div>
                        <div class="postisim5">
                            <p class="isim5">yunusuzun</p>
                            <p class="konum5">Gebze, Kocaeli, Türkiye</p>
                        </div>
                    </div>
                    <div class="hikayeicerikbaligi1">
                        <div class="postimage5">
                            <img src="/Content/images/profil.png" alt="">
                        </div>
                        <div class="postisim5">
                            <p class="isim5">yunusuzun</p>
                            <p class="konum5">Gebze, Kocaeli, Türkiye</p>
                        </div>
                    </div>
                    <div class="hikayeicerikbaligi1">
                        <div class="postimage5">
                            <img src="/Content/images/profil.png" alt="">
                        </div>
                        <div class="postisim5">
                            <p class="isim5">yunusuzun</p>
                            <p class="konum5">Gebze, Kocaeli, Türkiye</p>
                        </div>
                    </div>
                    <div class="hikayeicerikbaligi1">
                        <div class="postimage5">
                            <img src="/Content/images/profil.png" alt="">
                        </div>
                        <div class="postisim5">
                            <p class="isim5">yunusuzun</p>
                            <p class="konum5">Gebze, Kocaeli, Türkiye</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hikaye">
                <div class="hikayebaslik">
                    <p>Sizin İçin Önerilen</p>
                    <a href="">
                        <p class="tum">Tümünü Gör</p>
                    </a>
                </div>
                <div class="hikayeicerik2">
                    <div class="hikayeicerikbaligi1">
                        <div class="postimage5">
                            <img src="/Content/images/profil.png" alt="">
                        </div>
                        <div class="postisim5">
                            <p class="isim5">yunusuzun</p>
                            <p class="konum5">Gebze, Kocaeli, Türkiye</p>
                        </div>
                    </div>
                    <div class="hikayeicerikbaligi1">
                        <div class="postimage5">
                            <img src="/Content/images/profil.png" alt="">
                        </div>
                        <div class="postisim5">
                            <p class="isim5">yunusuzun</p>
                            <p class="konum5">Gebze, Kocaeli, Türkiye</p>
                        </div>
                    </div>
                    <div class="hikayeicerikbaligi1">
                        <div class="postimage5">
                            <img src="/Content/images/profil.png" alt="">
                        </div>
                        <div class="postisim5">
                            <p class="isim5">yunusuzun</p>
                            <p class="konum5">Gebze, Kocaeli, Türkiye</p>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <ul>
                    <li>
                        <a href="">Hakkımızda -</a>
                    </li>
                    <li>
                        <a href="">Destek -</a>
                    </li>
                    <li>
                        <a href="">Basın -</a>
                    </li>
                    <li>
                        <a href="">API -</a>
                    </li>
                    <li>
                        <a href="">İş Fırsatları -</a>
                    </li>
                    <li>
                        <a href="">Gizlilik -</a>
                    </li>
                    <li>
                        <a href="">Koşullar -</a>
                    </li>
                    <li>
                        <a href="">Dizin -</a>
                    </li>
                    <li>
                        <a href="">Profiller -</a>
                    </li>
                    <li>
                        <a href="">Konu Etiketleri -</a>
                    </li>
                    <li>
                        <a href="">Dil</a>
                    </li>
                </ul>
            </footer>
        </div>
    </div>
</body>
</html>