
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Instagram</title>
    <link rel="icon" href="/Content/images/logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/Content/style.css">
    <script src="https://kit.fontawesome.com/309a728b05.js"></script>
</head>
<body>
    <div class="ana">
        <div class="photo">
            <div class="container">
                <img class='ekran' src="/Content/images/resim1.jpg" alt="" />
                <img class='ekran' src="/Content/images/resim2.jpg" alt="" />
                <img class='ekran' src="/Content/images/resim3.jpg" alt="" />
                <img class='ekran' src="/Content/images/resim4.jpg" alt="" />
            </div>
        </div>
        <div class="aaa bosluk">
            <div class="giris">
                <div class="logo bosluk2">
                    <img src="/Content/images/logo.png" alt="logo">
                </div>
                <form action="/Account/Login" method="post">
                    <div class="kutular">
                        <input type="text" name="PhoneOrEmail" placeholder="Telefon numarası, Kullanıcı adı veya e-posta">
                    </div>
                    <div class="kutular">
                        <input type="text" name="Password" placeholder="Şifre">
                    </div>
                    <div class="linkler">
                        <input type="submit" value="Giriş Yap" />
                    </div>
                </form>
                <div class="yada">
                    <p>YA DA</p>
                </div>
                <div class="linkler2">
                    <a href=""><i class="fab fa-facebook-square"></i> &nbsp;Facebook ile Giriş Yap</a>
                </div>
                <div class="linkler3">
                    <a href="">Şifreni mi unuttun?</a>
                </div>
            </div>
            <div class="giris">
                <p class="kp">Hesabın yok mu? <b><a href="#">Kaydol</a></b></p>
            </div>
            <div class="indir">
                <p>Uygulamayı indir.</p>
            </div>
            <div class="mobil">
                <a href=""><img class="il" src="/Content/images/appstore.png" alt="ios"></a>
                <a href=""><img class="ir" src="/Content/images/google.png" alt="ios"></a>
            </div>
        </div>
    </div>
</body>
</html>