<h1>Burası Admin Area, Buraya Hoş Geldiniz.</h1>
<a asp-area="" asp-controller="Home" asp-action="Index">Blog Area Kısmına geçmek için lütfen tıklayınız.</a> 
<!--Bu linke tıklarsam admin areaya gidecek,
    Gitmek istediğim areaya baglanıyorum-->
