<h1>Burası Blog Area, Buraya Hoş Geldiniz.</h1>
<a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Area Kısmına geçmek için lütfen tıklayınız.</a> 
<!--Bu linke tıklarsam admin areaya gidecek,
    Gitmek istediğim areaya baglanıyorum-->
