<div class="parallax-content baner-content" id="home">
    <div class="container">
        <div class="text-content">
            <h2><em>TINKER</em> <span>HTML5</span> Template</h2>
            <p>Tinker is free HTML CSS template from templatemo.com that can be used for any kind of website. Please tell your friends about us. Thank you.</p>
            <div class="primary-white-button">
                @*<a href="/about/Index" class="scroll-link">Let's Start</a>*@
                <a href="/about/Index">hadı gıııtt</a>
                <a href="@Url.Action("Index","about")">Comee</a>

            </div>
        </div>
    </div>
</div>

